@{
    Layout = "~/Views/Layouts/Application.cshtml";
}
@section title {Home}
@section head {
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Styles/Home/Index.less")"/>
}
<div>
    Home
</div>