@model Aplite.Core.Domain.UserConfirm
@{
    Layout = "~/Views/Layouts/Application.cshtml";
}
@section title {Account Inactive - }
@section head
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Styles/User/Confirm.less")"/>
}<
<div class="edits">
    <div class="message">
        <h1>Account Inactive</h1>
    </div>

    <div>
        The account is inactive. Please renew your subscription.
    </div>
</div>