@{
  Layout = "~/Views/Layouts/Application.cshtml";
  var ReturnUrl = ViewData["ReturnUrl"] as String;
}
@section title {Register Confirmation}
@section head {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Styles/User/Default.less")"/>
}

<div>
  Confirmed!
</div>
